hr{
    border: 1px solid
}
.productFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.productStyle{
    border: 1px solid;
    margin: 10px;
    width: 200px;
    height: 250px;
    font-size: 10px}
